	
	.module-messages{
	@media only screen 
	and (min-width : 668px) {
		padding-left:20%;
	}
	}
	
	.message{
		overflow-wrap: break-word;
		margin: 2%;
		list-style: none;
		margin-left: 5%;
		background-color: gainsboro;
		border: 1px transparent;
		border-radius: 12px 12px 0px 0px;
	}
	
	.messagetext{
		margin-left:1%;
	
	}
	
	.username{
		
		text-align:center;
		margin-top: 0px;
		margin-bottom: 0.6%;
		
		background-color: rgb(207, 207, 207);
		
		
		border: 2px transparent;
		border-radius: 12px 12px 0px 0px;
		font-weight: bold;
	
		
	
	}
	
	.usermessage{
		color:white;
		margin: 1px;
		border-radius: 12px 12px 0px 0px !important;
		padding: 2px;
		padding-left: 15px;
	}
	
			.usercolorn1{
				color:blue;
			}
			
			.usercolorn2{
				color:red;
			}
			
			.usercolorn3{
				color:green;
			}
			
			.usercolorn4{
				color:yellow;
			}
			
			.usercolorn5{
				color:pink;
			}
			
			.usercolorbn1{
				background-color:blue;
			}
			
			.usercolorbn2{
				background-color:red;
			}
			
			.usercolorbn3{
				background-color:green;
			}
			
			.usercolorbn4{
				background-color:yellow;
			}
			
			.usercolorbn5{
				background-color:pink;
			}
			
	#entry{
		margin:12px;
		margin-left:8%;
		position:fixed;
		bottom:3%;
		width:28%;
	}
	
	#entrybutton{
		margin:12px;
		margin-left:38%;
		position:fixed;
		bottom:3.2%;
	}